/* Base button style */
.btn {
  display: inline-flex;
  border: 2px solid black;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  text-align: center;
  text-decoration: none;
  user-select: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Color variants */
.btn-blue {
  background-color: #3b82f6;
}

.btn-blue:hover {
  background-color: #2563eb;
}

.btn-green {
  background-color: #22c55e;
}

.btn-green:hover {
  background-color: #16a34a;
}

.btn-yellow {
  background-color: #EDC001;
}

.btn-yellow:hover {
  background-color: #C49102;
}

.btn-red {
  background-color: #ef4444;
}

.btn-red:hover {
  background-color: #dc2626;
}

.btn-purple {
  background-color: #800080;
}

.btn-purple:hover {
  background-color: #4d004d;
}

.btn-orange {
  background-color: #F4BB44;
}

.btn-orange:hover {
  background-color: #CC5500;
}

.btn-black {
    background-color: #000000;
    color: #ffffff;
    width: 100px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.btn-black-disabled {
    background-color: #737272;
    color: #e3dede;
    cursor: not-allowed;
    width: 100px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

/* Size variants */
.btn-small {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
}

.btn-medium {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.btn-large {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.inline {
  display: inline-block;
}

.faint {
  background-color: black;
}

.gray {
  background-color: gray;
}

.green {
  background-color: lime;
}

.cyan {
  background-color: cyan;
}

.yellow {
  background-color: yellow;
}

.right-aligned {
  text-align: right;
}

.centre-aligned {
  text-align: center;
}

.label-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.label-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  height: 100%;
  align-items: stretch;
}

.label-block {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.label-block.general {
  background-color: #d0f0f0;
}

.label-block.grading {
  background-color: #fff0e6;
}

.label-block.qualifiers {
  background-color: #f3e6ff;
}

.label-block.purchase {
  background-color: #fffbe6;
}

.label-block.listing {
  background-color: #e6ffe6;
}

.label-block.sale {
  background-color: #e6f0ff;
}

.label-block.profit {
  background-color: #ffe6e6;
}

.label-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.2rem;
}

.divider {
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin: 0 0 0.5rem 0;
  font-size: 0.85rem;
  text-align: left;
  padding-bottom: 0.2rem;
}

#search-section {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 1rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-bottom: 1rem;
}

#search-section.visible {
  max-height: 800px; /* Has to be larger than the expected size */
  padding: 1rem;
}

.pagination {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.grade-psa {
  background-color: #ef0302;
}

.grade-cgc {
  background-color: #67ebeb;
}

.grade-bgs {
  background-color: #c5b985;
}

.status-closed {
  background-color: #ff0000;
}

.status-listed {
  background-color: #02ff00;
}

.status-submitted {
  background-color: #f1c231;
}

.status-vault {
  background-color: #a0c5e8;
}

.inline-error {
  position: absolute;
  background: #ffe6e6;
  color: #900;
  border: 1px solid #cc0000;
  padding: 4px 8px;
  font-size: 18px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
