{% extends 'base.html' %}

{% block title %}Add Submission{% endblock %}

{% block content %}
  <h1>Add New Submission</h1>
  <a href="/" class="btn btn-purple btn-small margin-bottom-20 inline">Back To Landing Page</a>

<form method="post" action="/add_submission" enctype="application/x-www-form-urlencoded">
  <label for="submission_number">Submission Number:</label>
  <input type="number" id="submission_number" name="submission_number"
        value="{{ submission_number }}" required><br><br>

  <label>Submission Company:</label>
  <select name="submission_company">
    {% for grading_company in grading_company_enum %}
      {% if grading_company.name != 'RAW' %}
        <option value="{{ grading_company.name }}"
          {% if grading_company.name == submission_company %}selected{% endif %}>
          {{ grading_company.name }}
        </option>
      {% endif %}
    {% endfor %}
  </select><br><br>

  <label>Submission Date:</label>
  <input type="date" name="submission_date" ><br><br>

  <table id="submissions-table" border="1" cellpadding="5">
    <thead>
      <tr>
        <th>Item ID</th>
        <th>Name</th>
        <th>Set</th>
        <th>Type</th>
        <th>Language</th>
        <th>Intent</th>
        <th>Purchase Date</th>
        <th>Purchase Price</th>
        <th>Status</th>
        <th>Qualifiers</th>
        <th>Details</th>
        <th class="functions-col"></th>
      </tr>
    </thead>
    <tbody id="submissions-tbody">
      {% if item_ids %}
        {% for item_id in item_ids %}
          <tr>
            <td><input type="number" name="item_ids" class="item-id-input" value="{{ item_id }}" required></td>
            <td class="item-name"></td>
            <td class="item-set"></td>
            <td class="item-type"></td>
            <td class="item-language"></td>
            <td class="item-intent"></td>
            <td class="item-purchase-date"></td>
            <td class="item-purchase-price"></td>
            <td class="item-status"></td>
            <td class="item-qualifiers"></td>
            <td class="item-details"></td>
            <td class="functions-col">
              <button type="button" class="insert-row-btn">↑</button>
              <button type="button" class="delete-row-btn">Del</button>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td><input type="number" name="item_ids" class="item-id-input" required></td>
          <td class="item-name"></td>
          <td class="item-set"></td>
          <td class="item-type"></td>
          <td class="item-language"></td>
          <td class="item-intent"></td>
          <td class="item-purchase-date"></td>
          <td class="item-purchase-price"></td>
          <td class="item-status"></td>
          <td class="item-qualifiers"></td>
          <td class="item-details"></td>
          <td class="functions-col">
            <button type="button" class="insert-row-btn">↑</button>
            <button type="button" class="delete-row-btn">Del</button>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <button type="button" id="add-row">Add Row</button><br><br>
  <button type="submit" onclick="return confirm('Confirm Submission');"
    >Submit Submissions
  </button>
</form>

{% if error_message %}
  <div class="error-message" style="color: red; margin-top: 1em;">
    {{ error_message }}
  </div>
{% endif %}

<script type="module" src="/static/js/pages/add_submission.js"></script>
{% endblock %}
