<!DOCTYPE html>
<html>
<head>
  <title>Edit Submission</title>
  <link href="/static/css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

<h1>Submission Edit</h1>
<div>
  <a href="/" class="btn btn-purple btn-small margin-bottom-20 inline">Back To Landing Page</a>
  <a href="/submissions_view" class="btn btn-blue btn-small margin-bottom-20 inline">Back To Submission View Page</a>
</div>

<form method="post" action="/submission_item_edit/{{ submission.id }}">
  <label>Item ID:</label>
  <input type="number" name="item_id" value="{{ submission.item_id }}"><br><br>
  <label>Submission Number:</label>
  <input type="number" name="submission_number" value="{{ submission.submission_number }}"><br><br>
  <label>Grading Fee:</label>
  <input type="number" name="grading_fee" value="{{ submission.grading_fee }}"><br><br>
  <label>Grade:</label>
  <input type="number" name="grade" value="{{ submission.grade }}"><br><br>
  <label>Cert</label>
  <input type="number" name="cert" value="{{ submission.cert }}"><br><br>
  <label>Cracked:</label>
  <input type="checkbox" name="is_cracked" {% if submission.is_cracked %}checked{% endif %}><br><br>
  <button type="submit">Save Changes</button>
</form>

</body>
</html>
