<!DOCTYPE html>
<html>
<head>
  <title>Edit Items</title>
  <link href="/static/css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

<h1>Item Edit</h1>
<div>
  <a href="/" class="btn btn-purple btn-small margin-bottom-20 inline">Back To Landing Page</a>
  <a href="/view" class="btn btn-blue btn-small margin-bottom-20 inline">Back To View Page</a>
</div>

<form method="post" action="/edit/{{ item.id }}">

  <label>Name:</label>
  <input type="text" name="name" value="{{ item.name }}"><br><br>

  <label>Set Name:</label>
  <input type="text" name="set_name" value="{{ item.set_name }}"><br><br>

  <label>Category:</label>
  <select name="category">
    {% for category in category_enum %}
      <option value="{{ category.name }}" {% if item.category == category.name.title() %}selected{% endif %}>
        {{ category.name.title() }}
      </option>
    {% endfor %}
  </select><br><br>

  <label>Language:</label>
  <select name="language">
    {% for language in language_enum %}
      <option value="{{ language.name }}" {% if item.language == language.name.title().replace('_', ' ') %}selected{% endif %}>
        {{ language.name.title() }}
      </option>
    {% endfor %}
  </select><br><br>

  <label>Qualifiers:</label><br>
  {% if item %}
    {% set selected_qualifiers = item.qualifiers | list %}
  {% else %}
    {% set selected_qualifiers = [] %}
  {% endif %}

  {% for qualifier in qualifier_enum %}
    <label>
      <input type="checkbox" name="qualifiers" value="{{ qualifier.name }}" {% if item and qualifier.name.title().replace('_', ' ') in selected_qualifiers %}checked{% endif %}>
      {{ qualifier.name.replace('_', ' ').title() }}
    </label><br>
  {% endfor %}
  <br><br>

  <label>Details:</label>
  <input type="text" name="details" value="{{ item.details }}"><br><br>

  <label>Purchase Date:</label>
  <input type="date" name="purchase_date" value="{{ item.purchase_date }}"><br><br>

  <label>Purchase Price:</label>
  <input type="number" name="purchase_price" value="{{ item.purchase_price }}"><br><br>

  <label>Status:</label>
  <select name="status">
    {% for status in status_enum %}
      <option value="{{ status.name }}" {% if item.status == status.name.title() %}selected{% endif %}>
        {{ status.name.title() }}
      </option>
    {% endfor %}
  </select><br><br>

  <label>Intent:</label>
  <select name="intent">
    {% for intent in intent_enum %}
      <option value="{{ intent.name }}" {% if item.intent == intent.name.title() %}selected{% endif %}>
        {{ intent.name.title() }}
      </option>
    {% endfor %}
  </select><br><br>

  <label>Purchase Grade:</label>
  <input type="number" name="grade" step="any" value="{{ item.purchase_grade }}"><br><br>

  <label>Grading Company:</label>
  <select name="grading_company">
    {% for grading_company in grading_company_enum %}
      <option value="{{ grading_company.name }}" {% if item.grading_company == grading_company.name %}selected{% endif %}>
        {{ grading_company.name.title() }}
      </option>
    {% endfor %}
  </select><br><br>

  <label>Purchase Cert #:</label>
  <input type="number" name="cert" value="{{ item.purchase_cert }}"><br><br>

  <label>List Price:</label>
  <input type="number" name="list_price" step="any" value="{{ item.list_price }}"><br><br>

  <label>List Type:</label>
  <select name="list_type">
    {% for list_type in list_type_enum %}
      <option value="{{ list_type.name }}" {% if item.list_type == list_type.name.title().replace('_', ' ') %}selected{% endif %}>
        {{ list_type.name.title() }}
      </option>
    {% endfor %}
  </select><br><br>

  <label>List Date:</label>
  <input type="date" name="list_date" value="{{ item.list_date }}"><br><br>

  <label>Sale Total:</label>
  <input type="number" name="sale_total" step="any" value="{{ item.sale_total }}"><br><br>

  <label>Sale Date:</label>
  <input type="date" name="sale_date" value="{{ item.sale_date }}"><br><br>

  <label>Shipping:</label>
  <input type="number" name="shipping" step="any" value="{{ item.shipping }}"><br><br>

  <label>Sale Fee:</label>
  <input type="number" name="sale_fee" step="any" value="{{ item.sale_fee }}"><br><br>

  <label>USD to JPY Rate:</label>
  <input type="number" name="usd_to_jpy_rate" step="any" value="{{ item.usd_to_jpy_rate }}"><br><br>

  <label>Group Discount:</label>
  <input type="checkbox" name="group_discount" {% if item.group_discount %}checked{% endif %}><br><br>

  <label>Object Variant:</label>
  <select name="object_variant">
    {% for object_variant in object_variant_enum %}
      <option value="{{ object_variant.name }}" {% if item.object_variant == object_variant.name.title().replace('_', ' ') %}selected{% endif %}>
        {{ object_variant.name.title() }}
      </option>
    {% endfor %}
  </select><br><br>

  <label>Audit Target:</label>
  <input type="checkbox" name="audit_target" {% if item.audit_target %}checked{% endif %}><br><br>

  <button type="submit">Save Changes</button>
</form>

{% if items %}
    <h2>Matching Items</h2>
    <ul>
    {% for item in items %}
        <li>
            {{ item.name }} ({{ item.category }}, {{ item.price }}, {{ item.purchase_date }})
            <a href="/edit/{{ item.id }}">Edit</a>
        </li>
    {% endfor %}
    </ul>
{% elif request.method == 'POST' %}
    <p>No matching items found.</p>
{% endif %}

<script type="module" src="{{ url_for('static', path='js/add_item.js') }}"></script>
<script type="module" src="{{ url_for('static', path='js/edit_item.js') }}"></script>

</body>
</html>
