<!DOCTYPE html>
<html>
<head>
  <title>Item List</title>
  <link href="/static/css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
  <body>
    <h1>Landing Page</h1>
      <div>
        <a href="/view" class="btn btn-blue btn-large">View Page</a>
        <a href="/add" class="btn btn-green btn-large">Add Entry</a>
        <a href="/submissions_view" class="btn btn-yellow btn-large">Submissions</a>
        <a href="/submissions_add" class="btn btn-green btn-large">Add Submission</a>
        <a href="/psa_summary" class="btn btn-red btn-large">PSA Summary</a>
      </div>
  </body>
</html>
