{% extends 'base.html' %}

{% block title %}Items List{% endblock %}

{% block content %}
<a href="/" class="btn btn-purple btn-small margin-bottom-20 inline">Back To Landing Page</a>
<a href="/items_view" class="btn btn-orange btn-small margin-bottom-20 inline">Reset Search Conditions</a>

<form method="get" style="float: right;">
  <label>
    Max Rows:
    <input
      type="number"
      name="show_limit"
      value="{{ show_limit }}"
      min="1"
      step="1"
      style="width: 5em;"
      onchange="this.form.submit()"
    >
  </label>
</form>

<button type="button" id="toggle-search" class="btn btn-purple btn-small margin-bottom-20 inline">
  Show Search Options
</button>

<div id="search-section">
  <form method="get" action="/items_view">
    <div class="label-container">
      <div class="label-block general">
        <div class="divider">----- General -----</div>

        <div class="label-row">
          <input type="text" name="name" placeholder="Name" value="{{ form_data.name if form_data and form_data.name is not none else '' }}">
          <input type="text" name="set_name" placeholder="Set Name" value="{{ form_data.set_name if form_data and form_data.set_name is not none else '' }}">
          <input type="text" name="details" placeholder="Details" value="{{ form_data.details if form_data and form_data.details is not none else '' }}">
        </div>

        <div class="label-row">
          <label for="category">Type:</label>
          <select name="category" id="category_search_select">
            <option value="">Any</option>
            {% for category in category_enum %}
              <option value="{{ category.name }}" {% if form_data and form_data.category == category.name %}selected{% endif %}>
                {{ category.name.title() }}
              </option>
            {% endfor %}
          </select>

          <label for="language">Language:</label>
          <select name="language" id="language_search_select">
            <option value="">Any</option>
            {% for language in language_enum %}
              <option value="{{ language.name }}" {% if form_data and form_data.language == language.name %}selected{% endif %}>
                {{ language.name.title().replace('_', ' ') }}
              </option>
            {% endfor %}
          </select>

          <label for="intent">Intent:</label>
          <select name="intent" id="intent_search_select">
            <option value="">Any</option>
            {% for intent in intent_enum %}
              <option value="{{ intent.name }}" {% if form_data and form_data.intent == intent.name %}selected{% endif %}>
                {{ intent.name.title() }}
              </option>
            {% endfor %}
          </select>

          <label for="status">Status:</label>
          <select name="status" id="status_search_select">
            <option value="">Any</option>
            {% for status in status_enum %}
              <option value="{{ status.name }}" {% if form_data and form_data.status == status.name %}selected{% endif %}>
                {{ status.name.title() }}
              </option>
            {% endfor %}
          </select>

          <label for="object_variant">Object Variant:</label>
          <select name="object_variant" id="object_variant_search_select">
            <option value="">Any</option>
            {% for object_variant in object_variant_enum %}
              <option value="{{ object_variant.name }}" {% if form_data and form_data.object_variant == object_variant.name %}selected{% endif %}>
                {{ object_variant.name.title().replace('_', ' ') }}
              </option>
            {% endfor %}
          </select>

          <label for="group_discount">Group Discount:</label>
          <select name="group_discount" id="group_discount">
            <option value="">Any</option>
            <option value="true" {% if form_data and form_data.group_discount == 'true' %}selected{% endif %}>True</option>
            <option value="false" {% if form_data and form_data.group_discount == 'false' %}selected{% endif %}>False</option>
          </select>

          <label for="audit_target">Audit Target:</label>
          <select name="audit_target" id="audit_target">
            <option value="">Any</option>
            <option value="true" {% if form_data and form_data.audit_target == 'true' %}selected{% endif %}>True</option>
            <option value="false" {% if form_data and form_data.audit_target == 'false' %}selected{% endif %}>False</option>
          </select>
        </div>
      </div>

      <div class="label-block grading">
        <div class="divider">----- Grading -----</div>

        <div class="label-row">
          <input type="number" step="any" name="grade" placeholder="Grade" value="{{ form_data.grade if form_data else '' }}">
          <input type="number" name="cert" placeholder="Cert #" value="{{ form_data.cert if form_data else '' }}">

          <label for="grading_company">Grading Company:</label>
          <select name="grading_company" id="grading_company_search_select">
            <option value="">Any</option>
            {% for grading_company in grading_company_enum %}
              <option value="{{ grading_company.name }}" {% if form_data and form_data.grading_company == grading_company.name %}selected{% endif %}>
                {{ grading_company.name }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="label-block qualifiers">
        <div class="divider">----- Qualifiers -----</div>

        <div class="label-row">
          {% set qualifiers = qualifier_enum | list %}
          {% set N = 7 %}
          {% for qualifier in qualifiers[:N] %}
            <label>
              <input
                type="checkbox"
                name="qualifiers"
                value="{{ qualifier.name }}" {% if form_data and qualifier.name in form_data.qualifiers %}checked{% endif %}
              >
              {{ qualifier.name.title().replace('_', ' ') }}
            </label><br>
          {% endfor %}
        </div>

        <div class="label-row">
          {% for qualifier in qualifiers[N:] %}
            <label>
              <input
                type="checkbox"
                name="qualifiers"
                value="{{ qualifier.name }}" {% if form_data and qualifier.name in form_data.qualifiers %}checked{% endif %}
              >
              {{ qualifier.name.title().replace('_', ' ') }}
            </label><br>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="label-container-grid">
      <div class="label-block purchase">
        <div class="divider">----- Purchase -----</div>

        <div class="label-row">
          <label for="purchase_date_min">Purchase Date (Min):</label>
          <input
            type="date"
            name="purchase_date_min"
            placeholder="Min"
            value="{{ form_data.purchase_date_min if form_data else '' }}"
          >

          <label for="purchase_date_max">Purchase Date (Max):</label>
          <input
            type="date"
            name="purchase_date_max"
            placeholder="Max"
            value="{{ form_data.purchase_date_max if form_data else '' }}"
          >
        </div>

        <div class="label-row">
          <label for="purchase_price_min">Purchase Price (Min):</label>
          <input
            type="number"
            name="purchase_price_min"
            placeholder="Min"
            value="{{ form_data.purchase_price_min if form_data else '' }}"
          >

          <label for="purchase_price_max">Purchase Price (Max):</label>
          <input
            type="number"
            name="purchase_price_max"
            placeholder="Max"
            value="{{ form_data.purchase_price_max if form_data else '' }}"
          >
        </div>

        <div class="label-row">
          <label for="total_cost_min">Total Cost (Min):</label>
          <input
            type="number"
            name="total_cost_min"
            placeholder="Min"
            value="{{ form_data.total_cost_min if form_data else '' }}"
          >

          <label for="total_cost_max">Total Cost (Max):</label>
          <input
            type="number"
            name="total_cost_max"
            placeholder="Max"
            value="{{ form_data.total_cost_max if form_data else '' }}"
          >
        </div>
      </div>

      <div class="label-block listing">
        <div class="divider">----- Listing -----</div>

        <div class="label-row">
          <label for="list_date_min">List Date (Min):</label>
          <input
            type="date"
            name="list_date_min"
            placeholder="Min"
            value="{{ form_data.list_date_min if form_data else '' }}"
          >

          <label for="list_date_max">List Date (Max):</label>
          <input
            type="date"
            name="list_date_max"
            placeholder="Max"
            value="{{ form_data.list_date_max if form_data else '' }}"
          >
        </div>

        <div class="label-row">
          <label for="list_type">List Type:</label>
          <select name="list_type" id="list_type_search_select">
            <option value="">Any</option>
            {% for list_type in list_type_enum %}
              <option value="{{ list_type.name }}" {% if form_data and form_data.list_type == list_type.name %}selected{% endif %}>
                {{ list_type.name.title().replace('_', ' ') }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="label-block sale">
        <div class="divider">----- Sale -----</div>

        <div class="label-row">
          <label for="sale_date_min">Sale Date (Min):</label>
          <input
            type="date"
            name="sale_date_min"
            placeholder="Min"
            value="{{ form_data.sale_date_min if form_data else '' }}"
          >

          <label for="sale_date_max">Sale Date (Max):</label>
          <input
            type="date"
            name="sale_date_max"
            placeholder="Max"
            value="{{ form_data.sale_date_max if form_data else '' }}"
          >
        </div>

        <div class="label-row">
          <label for="sale_total_min">Sale Total (Min):</label>
          <input
            type="number"
            name="sale_total_min"
            placeholder="Min"
            value="{{ form_data.sale_total_min if form_data else '' }}"
          >

          <label for="sale_total_max">Sale Total (Max):</label>
          <input
            type="number"
            name="sale_total_max"
            placeholder="Max"
            value="{{ form_data.sale_total_max if form_data else '' }}"
          >
        </div>

        <div class="label-row">
          <label for="return_jpy_min">Return JPY (Min):</label>
          <input
            type="number"
            name="return_jpy_min"
            placeholder="Min"
            value="{{ form_data.return_jpy_min if form_data else '' }}"
          >

          <label for="return_jpy_max">Return JPY (Max):</label>
          <input
            type="number"
            name="return_jpy_max"
            placeholder="Max"
            value="{{ form_data.return_jpy_max if form_data else '' }}"
          >
        </div>
      </div>

      <div class="label-block profit">
        <div class="divider">----- Profit -----</div>

        <div class="label-row">
          <label for="net_jpy_min">Net JPY (Min):</label>
          <input
            type="number"
            name="net_jpy_min"
            placeholder="Min"
            value="{{ form_data.net_jpy_min if form_data else '' }}"
          >

          <label for="net_jpy_max">Net JPY (Max):</label>
          <input
            type="number"
            name="net_jpy_max"
            placeholder="Max"
            value="{{ form_data.net_jpy_max if form_data else '' }}"
          >
        </div>

        <div class="label-row">
          <label for="net_percent_min">Net % (Min):</label>
          <input
            type="number"
            step="any"
            name="net_percent_min"
            placeholder="Min"
            value="{{ form_data.net_percent_min if form_data else '' }}"
          >

          <label for="net_percent_max">Net % (Max):</label>
          <input
            type="number"
            step="any"
            name="net_percent_max"
            placeholder="Max"
            value="{{ form_data.net_percent_max if form_data else '' }}"
          >
        </div>
      </div>

      <button type="submit" class="btn-green">Search</button>
    </div>
  </form>
</div>

<div style="margin-top: 25px; font-size: 14px;">
  <table border="1" cellpadding="6" cellspacing="0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Set</th>
        <th>Type</th>
        <th>Language</th>
        <th>Grade</th>
        <th>Intent</th>
        <th style="min-width: 66px;">P. Date</th>
        <th style="min-width: 45px;">P. Price</th>
        <th style="min-width: 45px;">G. Fees</th>
        <th style="min-width: 45px;">T. Cost</th>
        <th>Status</th>
        <th style="min-width: 48px;">L. Price</th>
        <th style="min-width: 66px;">L. Date</th>
        <th style="min-width: 48px;">S. Total</th>
        <th style="min-width: 66px;">S. Date</th>
        <th style="min-width: 48px;">T. Fees</th>
        <th>Ret. $</th>
        <th>Ret. ¥</th>
        <th>Net ¥</th>
        <th>Net %</th>
        <th style="min-width: 58px;">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.set_name }}</td>
          <td>{{ item.category | enum }}</td>
          <td>{{ item.language | enum }}</td>
          <td class=" centre-aligned {{ 'faint' if item.grade is none else '' }}">
            {% if item.grade is not none %}
              {{ item.grade|int if item.grade == item.grade|int else item.grade }}
            {% else %}
              ''
            {% endif %}
          </td>
          <td class="centre-aligned">{{ item.intent | enum }}</td>
          <td>{{ item.purchase_date }}</td>
          <td class="right-aligned">{{ item.purchase_price | yen }}</td>
          <td class="right-aligned {{ 'faint' if item.total_grading_fees == 0 else '' }}">
            {{ '' if item.total_grading_fees is none else item.total_grading_fees | yen }}
          </td>
          <td class="right-aligned {{ 'faint' if item.total_cost == 0 else '' }}">
            {{ '' if item.total_cost is none else item.total_cost | yen }}
          </td>
          <td class="centre-aligned">{{ item.status | enum }}</td>
          <td class="right-aligned {{ 'faint' if item.list_price is none else '' }}">
            {{ '' if item.list_price is none else item.list_price | dollar }}
          </td>
          <td class="{{ 'faint' if item.list_date is none else '' }}">
            {{ '' if item.list_date is none else item.list_date }}
          </td>
          <td class="right-aligned {{ 'faint' if item.sale_total is none else '' }}">
            {{ '' if item.sale_total is none else item.sale_total | dollar }}
          </td>
          <td class="{{ 'faint' if item.sale_date is none else '' }}">
            {{ '' if item.sale_date is none else item.sale_date }}
          </td>
          <td class="right-aligned {{ 'faint' if item.total_fees is none else '' }}">
            {{ '' if item.total_fees is none else item.total_fees | dollar }}
          </td>
          <td class="right-aligned {{ 'faint' if item.return_usd is none else '' }}">
            {{ '' if item.return_usd is none else item.return_usd | dollar }}
          </td>
          <td class="right-aligned {{ 'faint' if item.return_jpy is none else '' }}">
            {{ '' if item.return_jpy is none else item.return_jpy | yen }}
          </td>
          <td class="right-aligned
                    {% if item.net_jpy is none %}
                      faint
                    {% elif item.net_jpy > 0 %}
                      green
                    {% else %}
                      cyan
                    {% endif %}">
            {{ '' if item.net_jpy is none else item.net_jpy | yen }}
          </td>
          <td class="right-aligned
                    {% if item.net_jpy is none %}
                      faint
                    {% elif item.net_jpy > 0 %}
                      green
                    {% else %}
                      cyan
                    {% endif %}">
            {{ '' if item.net_percent is none else item.net_percent | percent }}
          </td>
          <td>
            <a href="/delete/{{ item.id }}" onclick="return confirm('Are you sure you want to delete this item?')" style="color: red; margin-right: 10px;">
              Del
            </a>
            <a href="/edit/{{ item.id }}" style="color: purple;">
              Edit
            </a>
          </td>
          <td>
            <button
              type="button"
              class="details-btn"
              data-item-id="{{ item.id }}"
            >
              Details
            </button>
          </td>
        </tr>
        <tr id="details-{{ item.id }}" style="display: none;">
          <td colspan="5">
            <strong>GD:</strong> {{ item.group_discount }}<br>
            <strong>Import Fee:</strong> {{ item.import_fee | yen }}<br>
            <strong>Audit:</strong> {{ item.audit_target }}<br>
            <strong>Exchange Rate:</strong> {{ item.usd_to_jpy_rate }}<br>
            <strong>Qualifiers:</strong>
                {% for q in item.qualifiers %}
                    {{ q | enum }}{% if not loop.last %}, {% endif %}
                {% endfor %}<br>
            <strong>Details:</strong> {{ item.details }}<br>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if not items %}
  <p>No items found.</p>
{% endif %}

<script type="module" src="/static/js/pages/items_view.js"></script>
{% endblock %}
