{% extends 'base.html' %}

{% block title %}Submissions Summary{% endblock %}

{% block content %}
<a href="/" class="btn btn-purple btn-small margin-bottom-20 inline">Back To Landing Page</a>

<form method="get" style="float: right;">
  <label>
    Max Rows:
    <input
      type="number"
      name="show_limit"
      value="{{ show_limit }}"
      min="1"
      step="1"
      style="width: 5em;"
      onchange="this.form.submit()"
    >
  </label>
</form>

<div style="margin-top: 25px; font-size: 14px;">
  <table border="1" cellpadding="6" cellspacing="0">
    <thead>
      <tr>
        <th>Sub #</th>
        <th>Company</th>
        <th>Sub Date</th>
        <th>Ret Date</th>
        <th>Card Cost</th>
        <th>Grading Cost</th>
        <th>Total Cost</th>
        <th>Total Return</th>
        <th>Profit</th>
        <th>Profit on Sold</th>
        <th>Break Even Date</th>
        <th># Cards</th>
        <th># Sold</th>
        <th>% Sold</th>
        <th>Profit per Sold</th>
        <th># Closed</th>
        <th>% Closed</th>
        <th>Profit per Closed</th>
      </tr>
    </thead>
    <tbody>
      {% for summary in submission_summaries %}
        <tr>
          <td class="centre-aligned">{{ summary.submission_number }}</td>
          <td class="centre-aligned">{{ summary.submission_company | grading_company_enum }}</td>
          <td class="editable-date right-aligned
                    {% if summary.submission_date is none %}
                      gray
                    {% endif %}"
              data-id="{{ summary.submission_number }}"
              data-field="submission_date">
            {{ summary.submission_date if summary.submission_date else '' }}
          </td>
          <td class="editable-date right-aligned
                    {% if summary.return_date is none %}
                      gray
                    {% endif %}"
              data-id="{{ summary.submission_number }}"
              data-field="return_date">
            {{ summary.return_date if summary.return_date else '' }}
          </td>
          <td class="right-aligned">{{ summary.card_cost | yen }}</td>
          <td class="right-aligned">{{ summary.grading_cost | yen }}</td>
          <td class="right-aligned">{{ summary.total_cost | yen }}</td>
          <td class="right-aligned">{{ summary.total_return | yen }}</td>
          <td class="right-aligned
                    {% if summary.total_profit is none %}
                      faint
                    {% elif summary.total_profit > 0 %}
                      green
                    {% else %}
                      cyan
                    {% endif %}">
            {{ summary.total_profit | yen }}
          </td>
          <td class="right-aligned
                    {% if summary.profit_on_sold is none %}
                      faint
                    {% elif summary.profit_on_sold > 0 %}
                      green
                    {% else %}
                      cyan
                    {% endif %}">
            {{ summary.profit_on_sold | yen }}
          </td>
          <td class="editable-date right-aligned
                    {% if summary.break_even_date is none %}
                      gray
                    {% else %}
                      green
                    {% endif %}"
              data-id="{{ summary.submission_number }}"
              data-field="break_even_date">
            {{ summary.break_even_date if summary.break_even_date else '' }}
          </td>
          <td class="centre-aligned">{{ summary.num_cards }}</td>
          <td class="centre-aligned">{{ summary.num_sold }}</td>
          <td>{{ summary.percent_sold | percent }}</td>
          <td class="right-aligned
                    {% if summary.profit_per_sold is none %}
                      faint
                    {% elif summary.profit_per_sold > 0 %}
                      green
                    {% else %}
                      cyan
                    {% endif %}">
            {{ summary.profit_per_sold | yen }}
          </td>
          <td class="centre-aligned">{{ summary.num_closed }}</td>
          <td>{{ summary.percent_closed | percent }}</td>
          <td class="right-aligned
                    {% if summary.profit_per_closed is none %}
                      faint
                    {% elif summary.profit_per_closed > 0 %}
                      green
                    {% else %}
                      cyan
                    {% endif %}">
            {{ summary.profit_per_closed | yen }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script type="module" src="/static/js/pages/submissions_summary_view.js"></script>
{% endblock %}
