<!DOCTYPE html>
<html>
<head>
  <title>Item List</title>
  <link href="/static/css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

<h1>View Items</h1>

<a href="/" class="btn btn-purple btn-small margin-bottom-20 inline">Back To Landing Page</a>
<a href="/view" class="btn btn-orange btn-small margin-bottom-20 inline">Reset Search Conditions</a>

<form method="get" action="/view">
  <input type="text" name="name" placeholder="Name" value="{{ form_data.name if form_data and form_data.name is not none else '' }}">
  <input type="text" name="set_name" placeholder="Set Name" value="{{ form_data.set_name if form_data and form_data.set_name is not none else '' }}">

  <label for="category">Category:</label>
  <select name="category" id="category_search_select">
    <option value="">Any</option>
    {% for category in category_enum %}
      <option value="{{ category.name }}" {% if form_data and form_data.category == category.name %}selected{% endif %}>
        {{ category.name.title()}}
      </option>
    {% endfor %}
  </select>

  <label for="language">Language:</label>
  <select name="language" id="language_search_select">
    <option value="">Any</option>
    {% for language in language_enum %}
      <option value="{{ language.name }}" {% if form_data and form_data.language == language.name %}selected{% endif %}>
        {{ language.name.title().replace('_', ' ')}}
      </option>
    {% endfor %}
  </select><br><br>

  <label>Qualifiers:</label><br>
  {% for qualifier in qualifier_enum %}
    <label>
      <input type="checkbox" name="qualifiers" value="{{ qualifier.name }}" {% if form_data and qualifier.name in form_data.qualifiers %}checked{% endif %}>
      {{ qualifier.name.replace('_', ' ').title() }}
    </label><br>
  {% endfor %}
  <br>

  <input type="text" name="details" placeholder="Details" value="{{ form_data.details if form_data and form_data.details is not none else '' }}">
  <input type="date" name="purchase_date" placeholder="Purchase Date" value="{{ form_data.purchase_date if form_data else '' }}">
  <input type="number" name="purchase_price" placeholder="Purchase Price" value="{{ form_data.purchase_price if form_data else '' }}">

  <label for="status">Status:</label>
  <select name="status" id="status_search_select">
    <option value="">Any</option>
    {% for status in status_enum %}
      <option value="{{ status.name }}" {% if form_data and form_data.status == status.name %}selected{% endif %}>
        {{ status.name.title()}}
      </option>
    {% endfor %}
  </select>

  <label for="intent">Intent:</label>
  <select name="intent" id="intent_search_select">
    <option value="">Any</option>
    {% for intent in intent_enum %}
      <option value="{{ intent.name }}" {% if form_data and form_data.intent == intent.name %}selected{% endif %}>
        {{ intent.name.title()}}
      </option>
    {% endfor %}
  </select>

  <label for="cracked_from">Cracked From:</label>
  <select name="cracked_from" id="cracked_from_search_select">
    <option value="">Any</option>
    {% for value in submission_options %}
      <option value="{{ value }}" {% if form_data and form_data.cracked_from|int == value %}selected{% endif %}>
        {{ value }}
      </option>
    {% endfor %}
  </select>

  <input type="number" step="any" name="grade" placeholder="Grade" value="{{ form_data.grade if form_data else '' }}">

  <label for="grading_company">Grading Company:</label>
  <select name="grading_company" id="grading_company_search_select">
    <option value="">Any</option>
    {% for grading_company in grading_company_enum %}
      <option value="{{ grading_company.name }}" {% if form_data and form_data.grading_company == grading_company.name %}selected{% endif %}>
        {{ grading_company.name.title()}}
      </option>
    {% endfor %}
  </select>

  <input type="number" name="cert" placeholder="Cert #" value="{{ form_data.cert if form_data else '' }}">

  <label for="list_type">Listing Type:</label>
  <select name="list_type" id="list_type_search_select">
    <option value="">Any</option>
    {% for list_type in list_type_enum %}
      <option value="{{ list_type.name }}" {% if form_data and form_data.list_type == list_type.name %}selected{% endif %}>
        {{ list_type.name.title().replace('_', ' ')}}
      </option>
    {% endfor %}
  </select>

  <input type="date" name="list_date" placeholder="List Date" value="{{ form_data.list_date if form_data else '' }}">
  <input type="number" step="any" name="sale_total" placeholder="Sale Total" value="{{ form_data.sale_total if form_data else '' }}">
  <input type="date" name="sale_date" placeholder="Sale Date" value="{{ form_data.sale_date if form_data else '' }}">

  <label for="group_discount">Group Discount:</label>
  <select name="group_discount" id="group_discount">
    <option value="">Any</option>
    <option value="true" {% if form_data and form_data.group_discount == 'true' %}selected{% endif %}>True</option>
    <option value="false" {% if form_data and form_data.group_discount == 'false' %}selected{% endif %}>False</option>
  </select>

  <label for="object_variant">Object Variant:</label>
  <select name="object_variant" id="object_variant_search_select">
    <option value="">Any</option>
    {% for object_variant in object_variant_enum %}
      <option value="{{ object_variant.name }}" {% if form_data and form_data.object_variant == object_variant.name %}selected{% endif %}>
        {{ object_variant.name.title().replace('_', ' ')}}
      </option>
    {% endfor %}
  </select>

  <label for="audit_target">Audit Target:</label>
  <select name="audit_target" id="audit_target">
    <option value="">Any</option>
    <option value="true" {% if form_data and form_data.audit_target == 'true' %}selected{% endif %}>True</option>
    <option value="false" {% if form_data and form_data.audit_target == 'false' %}selected{% endif %}>False</option>
  </select>

  <input type="number" name="total_cost" placeholder="Total Cost" value="{{ form_data.total_cost if form_data else '' }}">
  <input type="number" name="return_jpy" placeholder="Return JPY" value="{{ form_data.return_jpy if form_data else '' }}">
  <input type="number" name="net_jpy" placeholder="Net JPY" value="{{ form_data.net_jpy if form_data else '' }}">
  <input type="number" name="net_percent" placeholder="Net %" value="{{ form_data.net_percent if form_data else '' }}">

  <button type="submit">Search</button>
</form>

<div style="margin-top: 25px; font-size: 14px;">
  <table border="1" cellpadding="6" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Set</th>
        <th>Type</th>
        <th>Language</th>
        <th>Grade</th>
        <th>Intent</th>
        <th>P. Date</th>
        <th>P. Price</th>
        <th>G. Fees</th>
        <th>T. Cost</th>
        <th>Status</th>
        <th>L. Price</th>
        <th>L. Date</th>
        <th>S. Total</th>
        <th>S. Date</th>
        <th>T. Fees</th>
        <th>Ret. $</th>
        <th>Ret. ¥</th>
        <th>Net ¥</th>
        <th>Net %</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.set_name }}</td>
          <td>{{ item.category.name.capitalize() }}</td>
          <td>{{ item.language.name.capitalize() }}</td>
          <td class=" centre-aligned {{ 'faint' if item.grade == None else '' }}">
            {% if item.grade is not none %}
              {{ item.grade|int if item.grade == item.grade|int else item.grade }}
            {% else %}
              ''
            {% endif %}
          </td>
          <td class="centre-aligned">{{ item.intent.name.capitalize() }}</td>
          <td>{{ item.purchase_date }}</td>
          <td class="right-aligned">{{ ('¥' ~ '{:,.0f}'.format(item.purchase_price)) }}</td>
          <td class="right-aligned {{ 'faint' if item.grading_fee_total == 0 else '' }}">
            {{ '' if item.grading_fee_total is none else '¥' ~ '{:,.0f}'.format(item.grading_fee_total) }}
          </td>
          <td class="right-aligned {{ 'faint' if item.total_cost == 0 else '' }}">
            {{ '' if item.total_cost is none else '¥' ~ '{:,.0f}'.format(item.total_cost) }}
          </td>
          <td class="centre-aligned">{{ item.status.name.capitalize() }}</td>
          <td class="right-aligned {{ 'faint' if item.list_price == None else '' }}">
            {{ '' if item.list_price is none else ('$' ~ '{:,.2f}'.format(item.list_price)) }}
          </td>
          <td class="{{ 'faint' if item.list_date == None else '' }}">
            {{ '' if item.list_date is none else item.list_date }}
          </td>
          <td class="right-aligned {{ 'faint' if item.sale_total == None else '' }}">
            {{ '' if item.sale_total is none else ('$' ~ '{:,.2f}'.format(item.sale_total)) }}
          </td>
          <td class="{{ 'faint' if item.sale_date == None else '' }}">
            {{ '' if item.sale_date is none else item.sale_date }}
          </td>
          <td class="right-aligned {{ 'faint' if item.total_fees == None else '' }}">
            {{ '' if item.total_fees is none else ('$' ~ '{:,.2f}'.format(item.total_fees)) }}
          </td>
          <td class="right-aligned {{ 'faint' if item.return_usd == None else '' }}">
            {{ '' if item.return_usd is none else ('$' ~ '{:,.2f}'.format(item.return_usd)) }}
          </td>
          <td class="right-aligned {{ 'faint' if item.return_jpy == None else '' }}">
            {{ '' if item.return_jpy is none else ('¥' ~ '{:,.0f}'.format(item.return_jpy)) }}
          </td>
          <td class="right-aligned {{ 'faint' if item.net_jpy == None else '' }}">
            {{ '' if item.net_jpy is none else ('¥' ~ '{:,.0f}'.format(item.net_jpy)) }}
          </td>
          <td class="right-aligned {{ 'faint' if item.net_percent == None else '' }}">
            {{ '' if item.net_percent is none else ( item.net_percent ~ '%') }}
          </td>
          <td>
            <a href="/delete/{{ item.id }}" onclick="return confirm('Are you sure you want to delete this item?')" style="color: red; margin-right: 10px;">
              Del
            </a>
            <a href="/edit/{{ item.id }}" style="color: purple;">
              Edit
            </a>
          </td>
          <td>
            <button onclick="toggleDetails('{{ item.id }}')">Details</button>
          </td>
        </tr>
        <tr id="details-{{ item.id }}" style="display: none;">
          <td colspan="5">
            <strong>GD:</strong> {{ item.group_discount }}<br>
            <strong>Audit:</strong> {{ item.audit_target }}<br>
            <strong>Exchange Rate:</strong> {{ item.usd_to_jpy_rate }}<br>
            <strong>Qualifiers:</strong>
                {% for q in item.qualifiers %}
                    {{ q.name.lower().replace('_', ' ').title() }}{% if not loop.last %}, {% endif %}
                {% endfor %}<br>
            <strong>Details:</strong> {{ item.details }}<br>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if not items %}
  <p>No items found.</p>
{% endif %}

<script>
  function toggleDetails(id) {
    const row = document.getElementById(`details-${id}`);
    row.style.display = row.style.display === 'none' ? 'table-row' : 'none';
  }
</script>

</body>
</html>
